<html class="thanks">
	<body class="thanks">
	<div class="text-center_thanks">
		<div class="thanks_bn1">
			<h1>購入ありがとうございました！</h1>
		</div>
		<div class="thanks_bn2">
			<h3><%= link_to "買い物を続ける", root_path, class:"thanks-bn" %></h3>
		</div>
	</body>
</html>
