

<div class=" text-center">
	<h2 class="page-header">Nagano Cakeとは？</h2>

	<div class = "aboutWrapper">
		<div class="cake_info">
			<img src="/assets/eclair-3366430_1920.jpg" alt=""><br>
			<section>
				<h3>
					<strong>NaganoCakeとは</strong>長野で一番のケーキ屋さんです。<br>
					お子様からお年寄りの方までお召し上がりいただけるよう、<br>
					様々なバリエーションをご用意しております。<br>
					また、<strong>全国へ発送可能</strong>ですので<br>
					「いつ」でも「どこ」でもご注文いただけます。<br>
					是非ご注文下さい。
				</h3>
			</section>
		</div>
	</div>
</div>
