/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.field-form {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*ページネーション自体のデザイン*/

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.pagination > li > a {
  position: center;
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
  border-radius: 15px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px; /*角を丸くする*/
}

/*ヘッダーの設定*/

/*ログイン画面*/
.field-form {
  width: 100%;
  margin: 0 auto;
}

.item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.order_show {
  text-align: center;
}

/* aboutページ */
.aboutWrapper {
  margin-bottom: 420px;
}
.aboutWrapper img {
  float: left;
  margin-right: 20px;
}

.navbar-right {
  margin-left: -20px;
}

.navbar-nav {
  margin-right: -20px;
}

.headerWrapper {
  margin-top: 20px;
}

 /*ページネーション自体のデザイン*/



.pagination>li>a {        
    position: center;  
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
  }

  /*ヘッダーの設定*/



  .login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 19px solid transparent;
  border-bottom-color: red;
}

.login-header {
  background: #fff0f5;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: navy;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.login-container {
  background: #d2691e;
  padding: 12px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  border-radius: 30px;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

.logo {
  background-image: url(/assets/nagano_cake_logo.png);
}