// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.ordercheck tr{
	border:5px solid #FFFFFF;
}

.thanks{
	color: red;
  	background-image: url(images.jpeg);
}


