  <h3 class="text-center">ジャンル検索</h3>
  <table class= "table table-hover">

    <% @genres.each do |genre| %>
      <tr><hr><%= link_to genre.name , search_path(genre), method: :get %></tr>

    <% end %>
    <hr>

  </table>
